.logo h2 {
    margin: 0;
}

.nav {
    background-color: #86064c;
    color: #fff;
    display: flex;
    justify-content:space-between;
    padding: 30px;
}

.navlinks ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navlinks li {
    margin-right: 30px;
}

.navlinks a {
    text-decoration: solid;
    color: #fff;
   
}

.navlinks a:hover {
    border-bottom: 2px solid #fff;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 97%;
}